/* [tag].class
 * [tag]#id
 */

.menu {
    margin-bottom: 3ex;
}

#contents { /* div */
    float: left;
    border-right: 3px solid black;
    margin-right: -3px;
    vertical-align: top;
    padding-right: 1ex;
}

.outer-contents { /* ul */
    margin-top: 0;
    margin-left: 0;
    /* margin-right: 1ex; */
    padding-left: 0;
    list-style: none;
}

.outer-element { /* li */
}

.decl-link { /* a */
    color: blue;
}

.inner-contents { /* ul */
    padding-left: 1.5ex;
    list-style: none;
}

.create-word-form {  /* form */
}

.create-word {  /* div */
}

.create-word-decl {  /* select */
    display: block;
}

.create-word-name {  /* input */
    display: block;
}

.inner-element { /* li */
}

.word-link { /* a */
    color: green;
}

#right-column {
    overflow: hidden;
    border-left: 3px solid black;
    /* min-width: 85ex; */
}

#name {  /* div */
    vertical-align: top;
    margin-bottom: 0;
    height: auto;
    padding-bottom: 0;
    text-align: center;
    font-weight: bold;
}

#questions {
    vertical-align: top;
    padding-left: 1ex;
    padding-bottom: 1ex;
    border-bottom: 3px solid black;
    /* width: auto; */
}

.question-header {
    vertical-align: top;
}

.question-table {  /* table */
    width: 100%;
    margin-right: 0;
}

td.nested-table {
    padding-left: 2ex;
}

td.up-input {
    padding-top: 7px;
    vertical-align: top;
}

td.del-input {
    padding-top: 7px;
    vertical-align: top;
}

#text { /* div */
    height: auto;
    min-height: 40ex;
    vertical-align: top;
    padding-left: 1ex;
    padding-top: 1ex;
}

#textarea {  /* textarea */
}
